body {
    background-color: #efeee7;
    font-style: "Georgia", "Times New Roman,Times,serif";
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333333;
}
h1 {
    color: #eeeeee;
    font-size: 28px;
    padding: 20px;
    margin: 0px;
    text-align: center;
}
h2 {
    font-size: 24px;
    align-content: center;
    margin: 20px;
}
#main-bio {
    float: left;
    width: 70%;
}
#bio-image {
    float: left;
    width: 200px;
}
#contact-info {
    float: left;
    width: 30%;
    line-height: 150%
}
a {
    color: #d21034;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
img {
    margin: 0px;
}
